.clear {
  clear: both;
}

.rest {
  font-family: 'Open Sans';
  max-width: 1120px;
  margin: 50px auto;
}

.rest * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rest a {
  color: #f7ad41;
  text-decoration: none;
}

.rest__header {
  margin-bottom: 30px;
  color: #5b5b5b;
}

.rest__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
}

.rest__title small {
  font-size: 65%;
  font-weight: 400;
}

.rest__base-uri {
  padding-left: 25px;
  font-size: 14px;
}

.rest__uri-parameters {
  font-size: 14px;
}

.rest .examples {
  margin-left: 0.5em;
}

.rest .items {
    background: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
}

.rest blockquote {
  margin: 0 0 20px;
  padding: 15px 20px 15px 15px;
  border-left: 5px solid #F7AD41;
  background: #FFF2DF;
  position: relative;
  font-size: 16px;
  color: #5b5b5b;
}

.rest blockquote ol:first-child,
.rest blockquote p:first-child,
.rest blockquote ul:first-child {
  margin-top: 0;
}

.rest blockquote ol:last-child,
.rest blockquote p:last-child,
.rest blockquote ul:last-child {
  margin-bottom: 0;
}

.rest pre {
  border: none;
  border-radius: 0;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F0F0F0;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-x: auto;
}

/* Navigation */

.rest-nav {
  font-size: 16px;
  font-weight: 800;
  color: #666;
  border-bottom: 2px solid #f7ad41;
  padding-left: 0;
  list-style: none;
}

.rest-nav__item {
  display: inline-block;
}

.rest-nav__item a {
  display: block;
  background: #f6f6f6;
  color: #666;
  padding: 10px 15px;
  text-decoration: none;
}

.rest-nav__item a:hover {
  background-color: #eee;
}

.rest-nav__item.active a {
  color: #fff;
  background-color: #f7ad41;
  cursor: default;
  pointer-events: none;
}

/* Objects */

.objects {
  color: #5b5b5b;
}

.object__body {
  display: none;
  padding: 0 10px;
}

.object__body.active {
  display: block;
}

.object__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0;
}

.object__description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.object__body h2 {
  font-size: 1.2em;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
}

/* Resources */

.resource {
  margin-bottom: 20px;
  background-color: #4b4b4b;
  padding: 15px 20px;
  color: #ccc;
}

.resource__body {
  margin: 0;
  overflow: overlay;
  word-break: break-word;
}

.resource__title {

}

.resource__parent-path {
  color: #999;
  font-weight: 400;
  line-height: 37px;
}

.resource__relative-path {
  color: #ccc;
  line-height: 37px;
}

/* Methods */

.methods {
  float: right;
}

.method__link {
  display: block;
  float: left;
  margin-left: 5px;
}

.method__badge {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  min-width: 80px;
  background-color: #f7ad41;
  white-space: nowrap;
}

.method__badge:hover {
  opacity: 0.9;
}

/* Modal */

.b-modal {
  position: fixed;
  z-index: 1070;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  height: 100%;
}

.b-modal:focus {
  outline: none;
}

.b-modal.active {
  display: block;
}

.b-modal__body {
  background-color: #fff;
  padding: 0 10px 20px;
  width: 100%;
  width: calc(100% - 20px);
  max-width: 900px;
  position: absolute;
  z-index: 1080;
  top: 100px;
  left: 50%;
  margin-bottom: 50px;
  transform: translateX(-50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.b-modal__header {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.b-model__close-btn {
  background: none;
  border: none;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  cursor: pointer;
}

.b-model__close-btn:hover {
  opacity: .6;
}

.b-model__close-btn:focus {
  outline: 0;
}

.b-model__title {
  margin: 10px 0 0;
}

.b-model__badge {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  min-width: 80px;
  background-color: #f7ad41;
  white-space: nowrap;
}

.b-model__parent-path {
  color: #999;
  font-weight: 400;
}

.b-model__relative-path {
  color: #5b5b5b;
}

.security_header {
  color: #5b5b5b;
}